defaults:
- data: zarr
- dataloader: native_grid
- diagnostics: evaluation
- system: example
- graph: encoder_decoder_only
- model: graphtransformer
- task: autoencoding
- training: single
- _self_

config_validation: False

### This file is for local experimentation.
##  When you commit your changes, assign the new features and keywords
##  to the correct defaults.
# For example to change from default GPU count:
# system:
#   hardware:
#     num_gpus_per_node: 1

model:
  num_channels: 128
  model:
    _target_: anemoi.models.models.AnemoiModelAutoEncoder

system:
  input:
    graph: graph_anemoi_new_o96.pt
    dataset: aifs-ea-an-oper-0001-mars-o96-1979-2022-6h-v6
  output:
    root: ${oc.env:SCRATCH}/anemoi-test/o96/
  hardware:
    accelerator: auto
    num_gpus_per_ensemble: 1
    num_gpus_per_node: 1
    num_nodes: 1
    num_gpus_per_model: 1

dataloader:
  validation_rollout: 0
  limit_batches:
    training: 100
    validation: 100

diagnostics:
  plot:
    callbacks: []
      #TODO: Enable reconstruction plots once separate PR is merged
      # - _target_: anemoi.training.diagnostics.callbacks.plot.PlotReconstruction
      #   sample_idx: ${diagnostics.plot.sample_idx}
      #   per_sample : 6
      #   parameters: ${diagnostics.plot.parameters}
      #   every_n_batches: ${diagnostics.plot.frequency.batch}
      #   #Defining the accumulation levels for precipitation related fields and the colormap
      #   accumulation_levels_plot: [0, 0.05, 0.1, 0.25, 0.5, 1, 1.5, 2, 3, 4, 5, 6, 7, 100] # in mm
      #   precip_and_related_fields: ${diagnostics.plot.precip_and_related_fields}
      #   colormaps: ${diagnostics.plot.colormaps}
  log:
    mlflow:
      enabled: False
      tracking_uri: None
    wandb:
      enabled: False
      entity: example
