defaults:
- data: zarr
- dataloader: native_grid
- diagnostics: evaluation
- system: example
- graph: multi_scale
- loss_graphs: none
- truncation: none
- model: gnn
- training: default
- _self_


# set to true to switch on config validation
config_validation: True
