defaults:
- data: zarr
- dataloader: native_grid
- diagnostics: evaluation
- system: example
- graph: multi_scale
- model: gnn
- task: forecasting
- training: single
- _self_

config_validation: False

### This file is for local experimentation.
##  When you commit your changes, assign the new features and keywords
##  to the correct defaults.
# For example to change from default GPU count:
# system:
#   hardware:
#     num_gpus_per_node: 1

diagnostics:
  plot:
    callbacks: []
  log:
    mlflow:
      enabled: False
      tracking_uri: None
    wandb:
      enabled: False
      entity: example

system:
  input:
    graph: graph_anemoi_new_${data.resolution}.pt
    truncation: null

    # Primary dataset for ERA5
    dataset: aifs-ea-an-oper-0001-mars-${data.resolution}-1979-2023-6h-v8

  output:
    root: ${oc.env:SCRATCH}/anemoi-test/${data.resolution}/
  hardware:
    accelerator: auto
    num_gpus_per_node: 1
    num_nodes: 1
    num_gpus_per_model: 1

data:
  resolution: o96  # Global resolution setting used in hardware file paths
model:
  num_channels: 128
dataloader:
  limit_batches:
    training: 100
    validation: 100
training:
  max_epochs: 5
