defaults:
- data: zarr
- dataloader: native_grid
- diagnostics: evaluation
- system: example
- graph: multi_scale
- model: graphtransformer
- training: default
- _self_

config_validation: False

training:
  model_task: anemoi.training.train.tasks.GraphForecaster
  max_epochs: 1

model:
  num_channels: 128

dataloader:
  limit_batches:
    training: 20
    validation: 20
    test: 20

system:
  input:
    graph: graph_anemoi_new_${data.resolution}.pt
    dataset: /home/mlx/ai-ml/datasets/aifs-ea-an-oper-0001-mars-${data.resolution}-1979-2023-6h-v8.zarr
    truncation: ${data.resolution}-o32-linear.mat.npz
    truncation_inv: o32-${data.resolution}-linear.mat.npz
  output:
    root: ${oc.env:SCRATCH}/anemoi-test/${data.resolution}/

  hardware:
    accelerator: auto
    num_gpus_per_ensemble: 1
    num_gpus_per_node: 1
    num_nodes: 1
    num_gpus_per_model: 1

data:
  resolution: o96  # Global resolution setting used in hardware file paths
  # Time frequency requested from dataset
  frequency: 6h
  # Time step of model (must be multiple of frequency)
  timestep: 6h

diagnostics:
  # plot:
  #   callbacks: []
  log:
    mlflow:
      enabled: False
      tracking_uri: None
    wandb:
      enabled: False
      entity: example
