defaults:
- data: multi
- dataloader: multi
- diagnostics: evaluation
- system: example
- graph: multi_scale
- model: graphtransformer
- training: downscaling
- _self_

config_validation: True

data:
  resolution: o96
  datasets:
    era5:  # low-res dataset: all variables should be forcing variables
      diagnostics: []
    cerra:  # high-res dataset: all variables should be diagnostic or forcing variables
      forcing: []
      diagnostics: [tp, 2t, 10si, 10wdir, z_100, z_500, z_850, z_1000, t_500, u_100, v_100, u_500, v_500, u_850, v_850]

system:
  input:
    graph: graph_anemoi_new_${data.resolution}.pt
    truncation: null

    # Primary dataset for ERA5
    dataset: aifs-ea-an-oper-0001-mars-${data.resolution}-1979-2023-${data.frequency}-v8

    # Secondary dataset for CERRA
    dataset_b: cerra-rr-an-oper-0001-mars-5p5km-1984-2022-${data.frequency}-v3-hmsi

  output:
    root: ${oc.env:SCRATCH}/anemoi-test/${data.resolution}/


dataloader:
  training:
    datasets:
      era5: # low-res dataset: all variables should be forcing variables
        dataset: 
          dataset: ${system.input.dataset}
          select: ${data.datasets.era5.forcing}
      cerra: # high-res dataset: all variables should be diagnostic or forcing variables
        dataset:
          dataset: ${system.input.dataset_b}
          select: ${data.datasets.cerra.diagnostics}

diagnostics:
  plot:
    callbacks: []
  log:
    mlflow:
      enabled: False
      tracking_uri: None
    wandb:
      enabled: False
      entity: example
