defaults:
- data: zarr
- dataloader: native_grid
- datamodule: single
- diagnostics: evaluation
- hardware: example
- graph: multi_scale
- model: graphtransformer_ens
- training: ensemble
- _self_

config_validation: False

data:
  frequency: 1h
  resolution: o96

  diagnostics: [] # Default behaviour is to interpolate between observed fields, not predict unseen fields

#dataloader:
  # model_run_info: #Add for non-analysis training
  #  start: 2020-02-05T12:00:00
  #  length: 18 #in number of dates (* frequency for actual time)

hardware:
  num_gpus_per_ensemble: 4
  num_gpus_per_model: 2

model:
  model:
    _target_: anemoi.models.models.interpolator.AnemoiModelEncProcDecEnsInterpMulti
  latent_skip: True # True/False for skip connection on latent mesh
  grid_skip: 0 # Which of the input indices to use as residual connection, null if none.

training:
  model_task: anemoi.training.train.tasks.GraphEnsInterpMulti
  # Instead of inferred using multistep and timeincrement, specify time indices explicitly
  explicit_times:
    input: [0,6]
    target: [1,2,3,4,5,6]

  aggregate_outputs: #calculate loss on time-aggregated outputs
    - mean
    - max
    - min
    - diff

  ensemble_size_per_device: 1
