defaults:
- data: zarr
- dataloader: native_grid
- diagnostics: evaluation
- datamodule: single
- hardware: example
- graph: hierarchical_2level_encoder_decoder_only
- model: graphtransformer
- truncation: none
- training: autoencoder
- _self_

model:
  model:
    _target_: anemoi.models.models.AnemoiModelHierarchicalAutoEncoder
  enable_hierarchical_level_processing: False
  keep_batch_sharded: True
  graph_providers:
    encoder:
      _target_: anemoi.models.layers.graph_provider.StaticGraphProvider
      edges: [data, to, hidden_1]
      edge_attributes: ${model.attributes.edges}
      trainable_size: ${model.trainable_parameters.data2hidden}
    decoder:
      _target_: anemoi.models.layers.graph_provider.StaticGraphProvider
      edges: [hidden_1, to, data]
      edge_attributes: ${model.attributes.edges}
      trainable_size: ${model.trainable_parameters.hidden2data}
    processor:
      _target_: anemoi.models.layers.graph_provider.StaticGraphProvider
      edges: [hidden_2, to, hidden_2]
      edge_attributes: ${model.attributes.edges}
      trainable_size: ${model.trainable_parameters.hidden2hidden}
    downscale:
      hidden_1:
        _target_: anemoi.models.layers.graph_provider.StaticGraphProvider
        edges: [hidden_1, to, hidden_2]
        edge_attributes: ${model.attributes.edges}
        trainable_size: ${model.trainable_parameters.data2hidden}
    upscale:
      hidden_2:
        _target_: anemoi.models.layers.graph_provider.StaticGraphProvider
        edges: [hidden_2, to, hidden_1]
        edge_attributes: ${model.attributes.edges}
        trainable_size: ${model.trainable_parameters.hidden2data}

training:
  model_task: anemoi.training.train.tasks.GraphAutoEncoder

diagnostics:
  plot:
    callbacks:
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotLoss
        # group parameters by categories when visualizing contributions to the loss
        # one-parameter groups are possible to highlight individual parameters
        parameter_groups:
          moisture: [tp, cp, tcw]
          sfc_wind: [10u, 10v]
        every_n_batches: ${diagnostics.plot.frequency.batch}
      - _target_: anemoi.training.diagnostics.callbacks.plot.PlotReconstruction
        sample_idx: ${diagnostics.plot.sample_idx}
        per_sample : 6
        parameters: ${diagnostics.plot.parameters}
        every_n_batches: ${diagnostics.plot.frequency.batch}
        #Defining the accumulation levels for precipitation related fields and the colormap
        accumulation_levels_plot: [0, 0.05, 0.1, 0.25, 0.5, 1, 1.5, 2, 3, 4, 5, 6, 7, 100] # in mm
        precip_and_related_fields: ${diagnostics.plot.precip_and_related_fields}
        colormaps: ${diagnostics.plot.colormaps}

# set to true to switch on config validation
config_validation: True
