defaults:
- data: zarr
- dataloader: native_grid
- diagnostics: evaluation
- system: example
- graph: multi_scale
- model: graphtransformer
- task: timeinterpolating
- training: single
- _self_

config_validation: False

data:
  frequency: 6h
  resolution: o96

  diagnostics: [] # Default behaviour is to interpolate between observed fields, not predict unseen fields

#dataloader:
# model_run_info: #Add for non-analysis training
#  start: 2020-02-05T12:00:00
#  length: 18 #in number of dates (* frequency for actual time)

model:
  num_channels: 128

system:
  input:
    graph: graph_anemoi_new_${data.resolution}.pt
    dataset: aifs-ea-an-oper-0001-mars-${data.resolution}-1979-2022-6h-v6
  output:
    root: ${oc.env:SCRATCH}/anemoi-test/${data.resolution}/
  hardware:
    accelerator: auto
    num_gpus_per_ensemble: 1
    num_gpus_per_node: 1
    num_nodes: 1
    num_gpus_per_model: 1

dataloader:
  limit_batches:
    training: 100
    validation: 100

diagnostics:
  callbacks: []
  plot:
    callbacks: []
  log:
    mlflow:
      enabled: False
      tracking_uri: None
    wandb:
      enabled: False
      entity: example
