# number of GPUs per node and number of nodes (for DDP)
accelerator: auto
num_gpus_per_node: ${oc.decode:${oc.env:SLURM_GPUS_PER_NODE}}
num_nodes: ${oc.decode:${oc.env:SLURM_NNODES}}
num_gpus_per_model: 1
cache_dir: ${oc.decode:${oc.env:TMPDIR}} #if not none, will cache input data under cache_dir