# Dataset-specific scalers configuration
datasets:
  era5:
    general_variable:
      _target_: anemoi.training.losses.scalers.GeneralVariableLossScaler
      weights:
        default: 1
        q: 0.8      # ERA5-specific weight
        t: 6        # ERA5-specific weight
        u: 0.8
        v: 0.5
        w: 0.001
        z: 12       # Higher weight for geopotential in ERA5
        sp: 10
        10u: 0.1    # ERA5 has 10m winds
        10v: 0.1
        2d: 0.5
        tp: 0.025   # ERA5 has precipitation
        cp: 0.0025  # ERA5 has convective precipitation

    nan_mask_weights:
      _target_: anemoi.training.losses.scalers.NaNMaskScaler

    pressure_level:
      _target_: anemoi.training.losses.scalers.ReluVariableLevelScaler
      group: pl
      y_intercept: 0.2
      slope: 0.001

    # tendency scalers
    # scale the prognostic losses by the stdev of the variable tendencies (e.g. the 6-hourly differences of the data)
    # useful if including slow vs fast evolving variables in the training (e.g. Land/Ocean vs Atmosphere)
    # if using this option 'variable_loss_scalings' should all be set close to 1.0 for prognostic variables
    stdev_tendency:
      _target_: anemoi.training.losses.scalers.StdevTendencyScaler

    var_tendency:
      _target_: anemoi.training.losses.scalers.VarTendencyScaler

    # Scalers from node attributes
    node_weights:
      _target_: anemoi.training.losses.scalers.GraphNodeAttributeScaler
      nodes_name: ${graph.data}
      nodes_attribute_name: area_weight
      norm: unit-sum

  mw_t:
    general_variable:
      _target_: anemoi.training.losses.scalers.GeneralVariableLossScaler
      weights:
        default: 1
        # TODO: revisit the weights for the mw_t channels

    nan_mask_weights:
      _target_: anemoi.training.losses.scalers.NaNMaskScaler

    # Scalers from node attributes
    node_weights:
      _target_: anemoi.training.losses.scalers.GraphNodeAttributeScaler
      nodes_name: ${graph.data}
      nodes_attribute_name: area_weight
      norm: unit-sum

  surface:
    general_variable:
      _target_: anemoi.training.losses.scalers.GeneralVariableLossScaler
      weights:
        default: 1
        # TODO: revisit the weights for the surface obs
        sp: 10.
        msl: 10.
        10u: 0.5
        10v: 0.5
        2d: 0.5
        2t: 2.0

    nan_mask_weights:
      _target_: anemoi.training.losses.scalers.NaNMaskScaler

    # Scalers from node attributes
    node_weights:
      _target_: anemoi.training.losses.scalers.GraphNodeAttributeScaler
      nodes_name: ${graph.data}
      nodes_attribute_name: area_weight
      norm: unit-sum