# Stretched grid graph config intended to be used with a cutout dataset.
# The stretched mesh resolution used here is intended for o96 global resolution with 10km
# limited area resolution.
overwrite: True

hidden: "hidden"

nodes:
  era5:
    node_builder:
      _target_: anemoi.graphs.nodes.AnemoiDatasetNodes
      dataset: ${dataloader.training.datasets.era5.dataset}
    attributes: ${graph.attributes.nodes}
  cerra:
    node_builder:
      _target_: anemoi.graphs.nodes.AnemoiDatasetNodes
      dataset: ${dataloader.training.datasets.cerra.dataset}
    attributes: ${graph.attributes.nodes}
  hidden:
    node_builder:
      _target_: anemoi.graphs.nodes.TriNodes
      resolution: 5

edges:
# Encoder
- source_name: "era5"
  target_name: ${graph.hidden}
  edge_builders:
  - _target_: anemoi.graphs.edges.KNNEdges
    num_nearest_neighbours: 12
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes: ${graph.attributes.edges}
- source_name: "cerra"
  target_name: ${graph.hidden}
  edge_builders:
  - _target_: anemoi.graphs.edges.KNNEdges
    num_nearest_neighbours: 12
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes: ${graph.attributes.edges}
# Processor
- source_name: ${graph.hidden}
  target_name: ${graph.hidden}
  edge_builders:
  - _target_: anemoi.graphs.edges.MultiScaleEdges
    x_hops: 1
    scale_resolutions: ${graph.nodes.hidden.node_builder.resolution}
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes: ${graph.attributes.edges}
# Decoder
- source_name: ${graph.hidden}
  target_name: "era5"
  edge_builders:
  - _target_: anemoi.graphs.edges.KNNEdges
    num_nearest_neighbours: 4
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes: ${graph.attributes.edges}
- source_name: ${graph.hidden}
  target_name: "cerra"
  edge_builders:
  - _target_: anemoi.graphs.edges.KNNEdges
    num_nearest_neighbours: 3
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes: ${graph.attributes.edges}

attributes:
  nodes:
    # Attributes for data nodes
    cutout_mask:
      _target_: anemoi.graphs.nodes.attributes.CutOutMask
    boundary_mask:
      _target_: anemoi.graphs.nodes.attributes.BooleanNot
      masks:
        _target_: anemoi.graphs.nodes.attributes.CutOutMask
    area_weight:
      _target_: anemoi.graphs.nodes.attributes.SphericalAreaWeights
      norm: unit-max
      fill_value: 0
    lam_area_weight:
      _target_: anemoi.graphs.nodes.attributes.MaskedPlanarAreaWeights
      mask_node_attr_name: cutout_mask
      norm: unit-max

  edges:
    edge_length:
      _target_: anemoi.graphs.edges.attributes.EdgeLength
      norm: unit-max
    edge_dirs:
      _target_: anemoi.graphs.edges.attributes.EdgeDirection
      norm: unit-std

post_processors: []
