---
overwrite: True

data: "data"
hidden: "hidden"
truncation: null

nodes:
  # Data nodes
  data:
    node_builder:
      _target_: anemoi.graphs.nodes.AnemoiDatasetNodes # options: AnemoiDatasetNodes, NPZFileNodes
      dataset: ${dataloader.dataset}
    attributes: ${graph.attributes.nodes}
  # Hidden nodes
  hidden:
    node_builder:
      _target_: anemoi.graphs.nodes.TriNodes # options: AnemoiDatasetNodes, NPZFileNodes, TriNodes
      resolution: 5 # grid resolution for npz (o32, o48, ...)
  # Intermediate nodes used for truncation of residual connection
  int:
    node_builder:
      _target_: anemoi.graphs.nodes.TriNodes
      resolution: 5

edges:
# Encoder configuration
- source_name: ${graph.data}
  target_name: ${graph.hidden}
  edge_builders:
  - _target_: anemoi.graphs.edges.CutOffEdges # options: KNNEdges, CutOffEdges
    cutoff_factor: 0.6 # only for cutoff method
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes: ${graph.attributes.edges}
  # Processor configuration
- source_name: ${graph.hidden}
  target_name: ${graph.hidden}
  edge_builders:
  - _target_: anemoi.graphs.edges.MultiScaleEdges
    x_hops: 1
    scale_resolutions: ${graph.nodes.hidden.node_builder.resolution}
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes: ${graph.attributes.edges}
  # Decoder configuration
- source_name: ${graph.hidden}
  target_name: ${graph.data}
  edge_builders:
  - _target_: anemoi.graphs.edges.KNNEdges # options: KNNEdges, CutOffEdges
    num_nearest_neighbours: 3 # only for knn method
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes: ${graph.attributes.edges}
  # Truncated connection -> down
- source_name: ${graph.data}
  target_name: ${graph.truncation}
  edge_builders:
  - _target_: anemoi.graphs.edges.KNNEdges
    num_nearest_neighbours: 5
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes:
    gauss_weights:
      _target_: anemoi.graphs.edges.attributes.GaussianDistanceWeights
      norm: l1
  # Truncated connection -> up
- source_name: ${graph.truncation}
  target_name: ${graph.data}
  edge_builders:
  - _target_: anemoi.graphs.edges.KNNEdges
    num_nearest_neighbours: 3
    source_mask_attr_name: null
    target_mask_attr_name: null
  attributes:
    gauss_weights:
      _target_: anemoi.graphs.edges.attributes.GaussianDistanceWeights
      norm: l1

attributes:
  nodes:
    area_weight:
      _target_: anemoi.graphs.nodes.attributes.SphericalAreaWeights # options: Area, Uniform
      norm: unit-max # options: l1, l2, unit-max, unit-sum, unit-std
      fill_value: 0
  edges:
    edge_length:
      _target_: anemoi.graphs.edges.attributes.EdgeLength
      norm: unit-std
    edge_dirs:
      _target_: anemoi.graphs.edges.attributes.EdgeDirection
      norm: unit-std

post_processors: []
